.flexContainer {
  display: flex;
  justify-content: space-around;
}

.mainHeader {
  color: antiquewhite;
  margin: 0.5%;
  padding-top: 2%;
  height: 8vh;
  background-color: slateblue;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  /* padding: 16px; */
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
  .Modal {
    width: 500px;
    left: calc(50% - 250px);
  }
}
.SignupSigninBtn {
  margin-right: 2px;
  margin-top: 2px;
  border: black 1px solid;
  background-color: slategrey;
  display: inline-block;
  font-size: 2rem;
  width: 50%;
  text-align: center;
  line-height: 3rem;
  height: 5vh;
  padding-right: 15%;
  padding-left: 15%;
}

.Card {
  display: inline-block;
  background-color: rgb(93, 241, 209);
  border: 1px solid #82d4e2;
  height: 10em;
  width: 50%;
  margin-top: 6px;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  border-radius: 2%;
  /* align-content: center; */
  padding: 5rem;
}

.Card:hover {
  transition: all 0.4s ease-out;
  box-shadow: 0px 4px 8px rgba(44, 38, 38, 0.2);
}

.BtnPrimary {
  font-weight: bold;
  color: #cce5e9;
  display: block;
  line-height: 1rem;
  padding: 0.7rem;
  height: 4.5vh;
  margin-top: 1.5rem;
  background-color: #8d5e52a8;
  border: #8d5e52a8;
  border-radius: 18%;
}

.ModalInput {
  height: 3ch;
  display: block;
  width: 99%;
  margin-top: 0.1%;
  margin-left: 0.1%;
  margin-bottom: 2%;
  background-color: rgb(188, 241, 243);
}
